* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    background-color: #fbfbfb;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, rgba(122, 127, 251, 255), rgba(136, 240, 251, 255));
    /* padding: 40px 175px 40px 175px; */
    padding: 40px;
    padding-left: 175px;
    padding-right: 175px;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    /* padding: 10px; */
    /* align-items: center; */
  }
  
  nav .navbar-logo {
    padding: 10px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
  }
  
  .navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    display: inline-block;
  }
  
  .navbar-links li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;

  }
  
  .menu-button {
    display: none;
    font-size: 20px;
    font-weight: 800;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    cursor: pointer;
    color: #fff;
  }

    /* Media query for mobile devices */
    @media (max-width: 768px) {
        .navbar {
          flex-wrap: wrap;
          background: #000000;
          padding: 20px;
          align-items: center;
          /* padding-right: 80px; */
        }
      
        nav .navbar-logo {
          order: 1;
          margin-right: auto;
          /* margin-bottom: 10px; */
        }
      
        .navbar-links {
          display: none;
          order: 3;
        }
      
        .navbar-links li {
          margin-bottom: 5px;
        }
      
        .menu-button {
          display: block;
          order: 2;
          /* padding-right: 80px; */
          /* padding: 10px; */
        }
      
        .show-navbar-links {
          display: block !important;
        }
      }


/* nav {
    background-image: linear-gradient(to right, rgba(122,127,251,255), rgba(136,240,251,255));
    display: flex;
    justify-content: space-between;
    padding-left: 175px;
    padding-right: 175px;
    padding-top: 40px;
    padding-bottom: 80px;
}

nav .logo {
    padding: 10px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}

nav ul {
    display: flex;
    list-style: none;
    justify-self: end;

}

nav ul li {
    margin-right: 20px;
    flex: flex-end;
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: normal;
    font-weight: 600;
} */

.header {
    background-image: linear-gradient(to right, rgba(122,127,251,255), rgba(136,240,251,255));
    height: 560px;
}

.hero {
    display: flex;
    justify-content: space-between;
    margin-left: 175px;
    margin-right: 175px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(153, 153, 153, 0.3) 0px 20px 80px 0px
}

.hero-content {
    display: flex;
    justify-content: center;
    padding: 30px;
    text-transform: uppercase;
}

.hero-content img {
    border-radius: 10px;
    margin-right: 125px;
    max-width: fit-content;
}

.hero-desc  {
    padding-top: 50px;
    /* padding-left: 125px; */
    color: #222222;
   
} 

.hero-desc .name {
    font-size: 48px;
    font-weight: bold;
    color: #222222;
    letter-spacing: normal;
    line-height: 58px;
    font-weight: 700;
    
}

.hero-desc .designation {
    font-size: 16px;
    letter-spacing: normal;
    font-weight: 600;
}

.hero-desc .one-liner {
    margin-top: 20px;
    color: #777777;
    text-transform: none;
    font-size: 16px;
    letter-spacing: normal;
    line-height: 26px;
}

.hero-content .info {
    color: #777777;
    font-size: 16px;
}

.info ul {
    list-style: none;
    
}

.info ul li {
    margin-bottom: 20px;
    text-transform: capitalize;
    display: flex;
    font-size: 16px ;
}

.info .icons {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    color: rgb(118, 109, 255);

}

.socials {
    margin-top: 50px;
}

.socials ul {
    list-style: none;
    display: flex;
    color: #ffffff
}

.socials ul li {
    margin-right: 10px;
    font-size: 16px;
    padding: 15px;
    width: 15px;
    height: 15px;
    background-color: #e8e8e8;
    border-radius: 5px;
    text-align: center;
}

.about-section {
    margin-top: 200px;
    padding-top: 120px;
    /* padding-bottom: 120px; */
    padding-right: 190px;
    padding-left: 190px;
    display: flex;
    
}

.about-section .left-text {
    max-width: 50%;
    margin-left: 15px;
    margin-right: 15px;
}

.about-section h2 {
    font-size: 36px;
    font-weight: 700;
    color: #222222;
    letter-spacing: normal;
    line-height: 44px;
}

.about-section p {
    margin-top: 20px;
    margin-right: 20px;
    color: #777777;
    font-size: 16px;
    letter-spacing: normal;
    line-height: 26px;
}

.about-section .stats-list{
    /* margin: 20px; */
    margin-top: 40px;
    list-style: none;
    display: flex;
}

 .stats-box {
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
    border: 0.8px solid rgb(238, 238, 238);
    border-radius: 5px;
    margin-right: 20px;
}

.stats-box svg {
    width: 20px;
    height: 20px;
}

.stats-box h3 {
    margin-top: 18px;
    font-size: 24px;
    font-weight: 700;
    color: #222222;
}

.stats-box p {
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: normal;

}

.about-section .right-visual {
   width: 100%;
   margin-top: 40px;
}

.skill-comp {
    width: 100%;
    margin-bottom: 20px;
}

.skill-comp .skill-title {
    font-size: 14px;
    font-weight: 600;
    color: #222222;
    letter-spacing: normal;
    line-height: 29px;
}

.skill-comp .skill-bar {
    height: 20px;
    border-radius: 10px;
    width: 85%;
    border: 0.8px solid rgb(238, 238, 238);
}

.skill-bar .skill-bar-none {
    margin: 5px;
    background-color: #e8e8e8;
    border-radius: 5px;
}

.skill-comp .skill-bar-fill {

    height: 10px;
    border-radius: 10px;
    /* width: 85%; */
    background: linear-gradient(to right, rgba(122,127,251,255), rgba(136,240,251,255));
}

.ae {
    width: 85%;
}

.ps {
    width: 90%;
}

 .illus {
    width: 70%;
}

.sublime {
    width: 95%;
}

.sketch {
    width: 75%;
}


.offerings {
    margin-top: 120px;
    margin-bottom: 120px;
    text-align: center;
    background-color: #f9f9ff;
    padding-left: 175px;
    padding-right: 175px;
    padding-bottom: 120px;
    padding-top: 120px;
    
}

.projects .heading {
    justify-self: center;
    /* font-size: 36px; */
}

.offerings .heading {
    justify-self: center;
    /* font-size: 36px; */
}

.heading h2{
    font-size: 36px;
    font-weight: 700;
    color: #222222;
}

.heading p {
    margin-top: 20px;
    color: #777777;
    font-size: 16px;
    letter-spacing: normal;
    line-height: 26px;
}

.offer-list {
    justify-self: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}


.offer-box {
    border-radius: 10px;
    text-align: left;
    padding: 50px;
    padding-bottom: 0px;
    padding-left: 35px;
    padding-right: 35px;
    /* border: 0.8px solid rgb(238, 238, 238); */
    width: 300px;
    height: 300px;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    margin-left: 30px;
    /* justify-content: space-evenly; */
}

.offer-box i {
    font-size: 60px;
    color: #777777;
}

.offer-box h3 {
    margin-top: 35px;
    font-size: 21px;
    font-weight: 700;
    color: #222222;
    text-transform: uppercase;
    letter-spacing: normal;
}

.offer-box p {
    margin-top: 20px;
    color: #777777;
    font-size: 16px;
    letter-spacing: normal;
    line-height: 26px;
}

.projects {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 175px;
    padding-right: 175px;
    background-color: #ffffff;
    text-align: center;
}

.projects .tab-headings {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    margin-top: 60px;
    font-size: 12px;
    font-weight: 600;
}

.tab-headings p {
    margin-right: 25px;
    margin-left: 25px;
}

.tab-headings .active {
    color: blue;
    color: linear-gradient(to right, rgba(122,127,251,255), rgba(136,240,251,255));
    /* background: linear-gradient(to right, rgba(122,127,251,255), rgba(136,240,251,255)); */
    /* color: -webkit-gradient(linear, left top, right top, from(rgba(122,127,251,255)), to(rgba(136,240,251,255))); */
}


.project-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));

}

.project-box {
    padding: 20px;
}

.project-box h3 {
    margin-top: 20px;
    font-size: 21px;
    font-weight: 700;
    color: #222222;
    text-transform: capitalize;
    letter-spacing: normal;
}

.project-box p {
    margin-top: 10px;
    color: #777777;
    font-size: 16px;
    letter-spacing: normal;
    line-height: 26px;
}

.load-more button {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    background-image: linear-gradient(to right, rgba(122,127,251,255), rgba(136,240,251,255));
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 500;
}


.testimonials {
    background-color: #f9f9ff;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 175px;
    padding-right: 175px;
}

.testimonials .heading {
    justify-self: center;
    /* font-size: 36px; */
}

.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 20px;
    margin-top: 80px;
    align-items: center;
}

.testimonial-grid .testimonial-card {
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 30px;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: left;
    border: #777777;
}

.testimonial-card .desc{
    margin-top: 20px;
    color: #777777;
    font-size: 16px;
    line-height: 26px;
    font-style: italic;
}

.testimonial-card .author {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: normal;
    margin-top: 20px;
}

.testimonial-card .rating .checked {
    color: orange;
    margin-top: 20px;
}


footer {
        background-color: #000000;
        padding-top: 120px;
        padding-bottom: 120px;
        padding-left: 175px;
        padding-right: 175px;
        color: #777777;
        letter-spacing: normal;
}

.footer-content {
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 2fr) minmax(0, 1fr);
    }

.footer-content .about {
    padding: 20px;
}

.about h2 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
}

.about p {
    margin-top: 30px;
}

.footer-content .newsletter {
    padding: 20px;
}

.newsletter h2 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
}

.newsletter p {
    margin-top: 30px;
}

.newsletter .email-input {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.email-input input {
    padding-left: 15px;
    padding-right: 15px;
    width: 80%;
    height: 100%;
    border: none;
    font-size: 16px;
    background-color: #000000;
    color:#ffffff;
    
}

.email-input .submit {
    background-image: linear-gradient(to right, rgba(122,127,251,255), rgba(136,240,251,255));
    padding: 12.5px;
    height: 40px;
    margin-left: -5px;
}

.footer-content .social {
    /* width: 30%; */
    padding: 20px;
}

.social h2 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
}

.social p {
    margin-top: 30px;
}

.social .social-logos {
    display: flex;
    justify-content: space-between;
    max-width: 60%;
    margin-top: 30px;
    color: #777777;
}
