* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    background-color: #fbfbfb;
}

.header {
    background-image: linear-gradient(to right, rgba(122,127,251,255), rgba(136,240,251,255));
    height: 560px;
}

nav {
    background-image: linear-gradient(to right, rgba(122,127,251,255), rgba(136,240,251,255));
    display: flex;
    justify-content: space-between;
    /* margin-left: 175px;
    margin-right: 175px;
    padding-top: 40px;
    margin-bottom: 80px; */
    padding-left: 175px;
    padding-right: 175px;
    padding-top: 40px;
    padding-bottom: 80px;
}

nav .logo {
    padding: 10px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}

nav ul {
    display: flex;
    list-style: none;
    justify-self: end;

}

nav ul li {
    margin-right: 20px;
    flex: flex-end;
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: normal;
    font-weight: 600;
}

.hero {
    display: flex;
    justify-content: space-between;
    margin-left: 175px;
    margin-right: 175px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(153, 153, 153, 0.3) 0px 20px 80px 0px
}

.hero-content {
    display: flex;
    justify-content: center;
    padding: 30px;
    text-transform: uppercase;
}

.hero-content img {
    border-radius: 10px;
    margin-right: 125px;
}

.hero-desc  {
    padding-top: 50px;
    /* padding-left: 125px; */
    color: #222222;
   
} 

.hero-desc .name {
    font-size: 48px;
    font-weight: bold;
    color: #222222;
    letter-spacing: normal;
    line-height: 58px;
    font-weight: 700;
    
}

.hero-desc .designation {
    font-size: 16px;
    letter-spacing: normal;
    font-weight: 600;
}

.hero-desc .one-liner {
    margin-top: 20px;
    color: #777777;
    text-transform: none;
    font-size: 16px;
    letter-spacing: normal;
    line-height: 26px;
}

.hero-content .info {
    color: #777777;
    font-size: 16px;
}

.info ul {
    list-style: none;
    
}

.info ul li {
    margin-bottom: 20px;
    text-transform: capitalize;
    display: flex;
    font-size: 16px ;
}

.info .icons {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    color: rgb(118, 109, 255);

}

.socials {
    margin-top: 50px;
}

.socials ul {
    list-style: none;
    display: flex;
    color: #ffffff
}

.socials ul li {
    margin-right: 10px;
    font-size: 16px;
    padding: 15px;
    width: 15px;
    height: 15px;
    background-color: #e8e8e8;
    border-radius: 5px;
    text-align: center;
}

.about-section {
    margin-top: 200px;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-right: 190px;
    padding-left: 190px;
    display: flex;
    
}

.about-section .left-text {
    max-width: 50%;
    margin-left: 15px;
    margin-right: 15px;
}

.about-section h2 {
    font-size: 36px;
    font-weight: 700;
    color: #222222;
    letter-spacing: normal;
    line-height: 44px;
}

.about-section p {
    margin-top: 20px;
    margin-right: 20px;
    color: #777777;
    font-size: 16px;
    letter-spacing: normal;
    line-height: 26px;
}

.about-section .stats-list{
    /* margin: 20px; */
    margin-top: 40px;
    list-style: none;
    display: flex;
}

 .stats-box {
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
    border: 0.8px solid rgb(238, 238, 238);
    border-radius: 5px;
    margin-right: 20px;
}

.stats-box svg {
    width: 20px;
    height: 20px;
}

.stats-box h3 {
    margin-top: 18px;
    font-size: 24px;
    font-weight: 700;
    color: #222222;
}

.stats-box p {
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: normal;

}

.about-section .right-visual {
   width: 100%;
   margin-top: 40px;
}

.skill-comp {
    width: 100%;
    margin-bottom: 20px;
}

.skill-comp .skill-title {
    font-size: 14px;
    font-weight: 600;
    color: #222222;
    letter-spacing: normal;
    line-height: 29px;
}

.skill-comp .skill-bar {
    height: 20px;
    border-radius: 10px;
    width: 85%;
    border: 0.8px solid rgb(238, 238, 238);
}

.skill-bar .skill-bar-none {
    margin: 5px;
    background-color: #e8e8e8;
    border-radius: 5px;
}

.skill-comp .skill-bar-fill {

    height: 10px;
    border-radius: 10px;
    /* width: 85%; */
    background: linear-gradient(to right, rgba(122,127,251,255), rgba(136,240,251,255));
}

.ae {
    width: 85%;
}

.ps {
    width: 90%;
}

 .illus {
    width: 70%;
}

.sublime {
    width: 95%;
}

.sketch {
    width: 75%;
}